<div class="hero" style="background-image: url('/images/hero_background.jpg');">
    <div class="row middle-xs center-xs start-sm">
        <div class="col-xs-12 col-sm-4">
            <img class="hero__gravatar" src="/images/gravatar.jpg" width="250" height="250" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
        </div>
        <div class="col-xs-12 col-sm-8">
            {% include custom/hero/welcome.html %}
        </div>
    </div>

    <div class="hero__credit">
        <p>
            Google Data Center</a>
        </p>
    </div>
</div>
